doctype html
html
    body(bgcolor='#ffffff', topmargin='0' leftmargin='0', marginheight='0', marginwidth='0')
        table(width='100%' cellpadding='0', cellspacing='0', border='0' bgcolor='#ffffff')
            tr
                td(bgcolor='#ffffff', width='100%')
                    table.main-wrapper(width='600' cellpadding='0', cellspacing='0', border='0' align='center', bgcolor='#ffffff')
                        tr
                            td.cell(width='100%')
                                div.wrapper
                                    table.content(width='100%', cellpadding='0', cellspacing='0', border='0')
                                        tr
                                            td.content-cell(width='100%')
                                                //- START OF EMAIL CONTENT

                                                p
                                                    strong Thank you very much for your gift!

                                                p Your chosen payment method was #{giftSet.paymentMethod}.

                                                if giftSet.paymentMethod === PAYMENT_METHODS.PAYPAL
                                                    p Here is the link #{paypalLink}.
                                                else
                                                    p If you do change you mind and want to pay with PayPal, here is the link #{paypalLink}.

                                                p
                                                    strong Total £#{giftSet.total}

                                                p #{signature}

                                                //- END OF EMAIL CONTENT
                                div.container
                                    table.footer(width="100%" border="0" cellspacing="0" cellpadding="0")
                                        tr
                                            td.footer-cell(align='right')
                                                | Sent by Our Wedding Heroes
